* 
{
	box-sizing: border-box;
}
html
{
	overflow-y: scroll;
}
.row
{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.row::after 
{
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] 
{
	float: left;
	transition: ease-out all .5s;
}
/* For mobile phones: */
@media only screen and (max-width: 600px)
{
	.nav{display: none; padding-bottom: 0; animation: menu_close 0s ease-out forwards;}
	.nav.close{display: none; padding-bottom: 0; animation: menu_close .2s ease-out forwards;}
	.nav.responsive{animation: menu_open .2s ease-out forwards;};
	li {display: block;}

	.header {font-size: 20px; text-align: left; padding: 20px;}

	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
  /* For tablets: */
@media only screen and (min-width: 600px)
{
	nav {padding-bottom: 20px;}
	li {display: inline-block;}

	.header {font-size: 40px; text-align: center; padding: 40px;}
	.menu {display: none;}

	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 992px)
{
	nav {padding-bottom: 20px;}
	li {display: inline-block;}

	.header {font-size: 40px; text-align: center; padding: 40px;}
	.menu {display: none;}

	.col-l-1 {width: 8.33%;}
	.col-l-2 {width: 16.66%;}
	.col-l-3 {width: 25%;}
	.col-l-4 {width: 33.33%;}
	.col-l-5 {width: 41.66%;}
	.col-l-6 {width: 50%;}
	.col-l-7 {width: 58.33%;}
	.col-l-8 {width: 66.66%;}
	.col-l-9 {width: 75%;}
	.col-l-10 {width: 83.33%;}
	.col-l-11 {width: 91.66%;}
	.col-l-12 {width: 100%;}
}
body
{
	font-family: gotham;
	color: grey;
	user-select: none;
	margin: 0;
	background-color: white;
}
ul
{
	text-align: center;
	margin: 0;
	padding: 0;
}
li
{
	list-style-type: none;
	font-size: 15px;
	user-select: none;
	padding: 0 20px;
	padding-bottom: 20px;
}
@keyframes menu_open
{
	0% {visibility: hidden; margin: -38px; opacity: 0}
	1% {visibility: visible; margin: -38px; opacity: 0}
	100% {visibility: visible; margin: 0; opacity: 1}
}
@keyframes menu_close
{
	0% {visibility: visible; margin: 0; opacity: 1}
	99% {visibility: visible; margin: -38px; opacity: 0}
	100% {visibility: hidden; margin: -38px; opacity: 0}
}
a
{
	color: inherit;
	text-decoration: none;
	filter: contrast(100%) brightness(100%);
}
a:hover
{
	filter: contrast(50%) brightness(150%);
}
.header
{
	position: relative;
	user-select: none;
	transition: ease-out all .5s;
}
.menu
{
	position: absolute;
	cursor: pointer;
	top: 50%;
	right: 2.5%;
	transform:translate(-50%, -50%);
	filter: contrast(100%) brightness(100%);
}
.bar1, .bar2, .bar3
{
	width: 21px;
	height: 3px;
	background-color: grey;
	margin: 3px 0;
	transition: ease-out all 0.2s;
}
.cross .bar1 
{
	transform: rotate(-45deg) translate(-4.25px, 4.25px);
}
.cross .bar2 {opacity: 0;}
.cross .bar3 
{
	transform: rotate(45deg) translate(-4.25px, -4.25px);
}
.menu:hover
{
	filter: contrast(50%) brightness(150%);
}
.thumbnail
{
	cursor: pointer;
	filter: contrast(100%) brightness(100%);
	clip-path: inset(-.2% -.2%);
}
.caption
{
	position: absolute;
	bottom: -15px;
	left: 2.5%;
	font-size: 15px;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	clip-path: inherit;
	transition: ease-out all .2s;
}
.thumbnail:hover
{
	filter: contrast(50%) brightness(150%);
}
.thumbnail:hover > .caption
{
	bottom: 2.5%;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, .75);
}
#overlay
{
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	width: 100%;
	height: 100%;
	z-index: 2;
}
#overlay_close
{
	position: absolute;
	top:0;
	right:0;
	color: white;
	font-size: 72px;
	line-height: 0.6;
}
#overlay_close::after
{
	content: "\00D7\FE0E";
	font-family: arial;
}
#overlay_close:hover
{
	filter: contrast(100%) brightness(50%);
}
.container
{
	max-width: 640px;
	max-height: 360px;
	margin: auto;
}
.videoWrapper iframe 
{
	position: absolute;
	top: 50%;
	transform:translate(0, -50%);
	width: 100%;
	height: 100%;
	max-width: 640px;
	max-height: 360px;
	background-color: black;
}
.footer
{
	font-size: 12px;
	padding: 40px;
}
#overlay_image img
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}